.about-me {
    display: flex;
    align-items: center;
    gap: 64px;
    height: calc(100vh - 96px); 
}

.about-me img {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #18acfe;
    transition: 0.2s ease-in-out;
}

.about-me img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 2px #18acfe;
}

.about-me main {
    width: 100%;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 40px;
}

.about-me main .title {
    font-size: 72px;
    width: fit-content;
}

.about-me main .title span {
    border-bottom: 2px solid #18acfe;
}

.about-me main .description {
    width: 100%;
    max-width: 480px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #ccc;
}

/* Responsive */
@media screen and (max-width: 1368px) {
    .about-me img {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .about-me main .title {
        font-size: 56px;
    }
    
    .about-me img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .about-me main .title {
        font-size: 40px;
    }
    
   .about-me main .description {
    font-size: 14px;
   }
}